<html>
    <head>
        <title>SENHA INCORRETA</title>
        <script>
            confirm("A senha digitada está incorreta!")
            window.location.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>